@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,400;1,500;1,600;1,700&display=swap');


* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
    touch-action: manipulation;
  }

body {
    font-family: 'Finlandica', sans-serif;
    background-color: black;
    overflow: hidden;
    color: rgb(232,89,0);
}

.parent {
    text-align: center;
    position: relative;
    top: 10%;
}

.parent h1 {
    font-size: 10vw;
    font-weight: 600;
}


.gateToggler {
    width: 33%;
    height: 100%;
    float: left;
    color: rgb(232,89,0);
    background-color: rgb(232,89,0);
    color: black;
    
}
.gateToggler a{
    color: rgb(232,89,0);
    font-size: 2vh;
    position: relative;
    top: 5px;
}

.gateToggler a[command=open] {
    background-color: black;
    color: rgb(232,89,0);
}

.gateToggler:nth-child(2) {
    border-top-left-radius: 2.5vh;
}
.gateToggler:nth-child(4) {
    border-top-right-radius: 2.5vh;
}

a[command=close] {
    background-color: rgb(232,89,0);
    color: black
}

p {
    font-size: 3vh;
    font-style: italic;
    font-weight: 500;
}

.status-text {
    font-size: 1.5vh;
    position: relative;
    top: 3vh;
}


   